@{
    ViewData["Title"] = "Home Page";
}

<table border="1" align="center">
    <th></th>
    <th>Description</th>
    <th>Group Needed</th>

<tr>
    <td>
        <a class="navbar-brand" asp-area="" asp-controller="List" asp-action="Index">
            View Tickets
        </a>
    </td>
    <td>
         View current tickets
    </td>
    <td>
        TicketingReader
    </td>
</tr>

<tr>
    <td>
        <a class="navbar-brand" asp-area="" asp-controller="CheckIn" asp-action="Index">
            View CheckIns 
        </a>
    </td>
    <td>
        View current checkins 
    </td>

    <td>
        TicketingReader
    </td>
</td>

<tr>
    <td>
        <a class="navbar-brand" asp-area="" asp-controller="Upload" asp-action="Index">
            Upload  </a>
    </td>

    <td>
        Upload the .csv file downloaded from paypal
    </td>
        
    <td>
        TicketingAdministrator
    </td>
</tr>

<tr>
    <td>
        <a class="navbar-brand" asp-area="" asp-controller="Delete" asp-action="Index">
            Start Fresh</a>
    </td>
    <td>
        Cleans up the existing data
    </td>
    <td>
        TicketingReader
    </td>
</tr>

<tr>
    <td>
        <a class="navbar-brand" asp-area="" asp-controller="Stats" asp-action="Index">
            Current Status</a>
    </td>

    <td>
        Sshows the summary
    </td>

    <td>
        TicketingReader
    </td>
</tr>

</table>