@{
    ViewData["Title"] = "Home Page";
}

<a class="navbar-brand" asp-area="" asp-controller="List" asp-action="Index">List</a><br/>
<a class="navbar-brand" asp-area="" asp-controller="Upload" asp-action="Index">Upload</a><br/>
<a class="navbar-brand" asp-area="" asp-controller="Delete" asp-action="Index">ClearAll</a><br/>
