@{
    ViewData["Title"] = "Home Page";
}

<a class="navbar-brand" asp-area="" asp-controller="List" asp-action="Index">View Tickets</a><br/>
<a class="navbar-brand" asp-area="" asp-controller="CheckIn" asp-action="Index">View CheckIns</a><br/>
<a class="navbar-brand" asp-area="" asp-controller="Upload" asp-action="Index">Upload</a><br/>
<a class="navbar-brand" asp-area="" asp-controller="Delete" asp-action="Index">Cleanup data</a><br/>
<a class="navbar-brand" asp-area="" asp-controller="Stats" asp-action="Index">Stats</a><br/>
