@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Delete" asp-action="Delete" method="post">
<h1>
    This will remove all tickets, do you really want to remove all.
</h1>
    <div>
        <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Yes Remove All Please" />
        </div>
    </div>

</form>